{
  "openapi": "3.0.3",
  "info": {
    "title": "VeriWorkly API",
    "version": "3.2.1",
    "description": "Privacy-first, local-first API for building and managing professional resumes. This API supports document synchronization, master profile management, public sharing, api keys, and system statistics.",
    "contact": {
      "name": "VeriWorkly Support",
      "email": "info@veriworkly.com",
      "url": "https://veriworkly.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/Gautam25Raj/veriworkly-resume/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.veriworkly.com/api/v1",
      "description": "Production API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Standard Bearer token (API Key) for programmatic authentication. Web users authenticate via Better Auth (Email OTP and Session Cookies)."
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "Session cookie generated by Better Auth via Email OTP login."
      }
    },
    "schemas": {
      "Document": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "data": { "type": "object" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "MasterProfile": {
        "type": "object",
        "properties": {
          "basics": { "type": "object" },
          "sections": { "type": "object" },
          "metadata": { "type": "object" }
        }
      },
      "RoadmapItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "status": { "type": "string", "enum": ["TODO", "IN_PROGRESS", "DONE"] },
          "priority": { "type": "integer" }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "prefix": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }, { "cookieAuth": [] }],
  "paths": {
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health Check",
        "description": "Check the health status of the API and its dependencies (Database, Redis).",
        "security": [],
        "responses": {
          "200": { "description": "System is healthy" },
          "503": { "description": "One or more services are unavailable" }
        }
      }
    },
    "/github/stats": {
      "get": {
        "tags": ["GitHub"],
        "summary": "GitHub Stats",
        "description": "Retrieve repository metrics (stars, forks, etc.) from GitHub.",
        "responses": {
          "200": { "description": "GitHub statistics object" }
        }
      }
    },
    "/github/issues": {
      "get": {
        "tags": ["GitHub"],
        "summary": "GitHub Issues",
        "description": "Retrieve open issues from the GitHub repository.",
        "responses": {
          "200": { "description": "GitHub issues array" }
        }
      }
    },
    "/github/admin/sync": {
      "post": {
        "tags": ["GitHub"],
        "summary": "Sync GitHub Stats (Admin)",
        "description": "Manually trigger a sync of GitHub repository statistics.",
        "responses": {
          "200": { "description": "Sync initiated" }
        }
      }
    },
    "/roadmap": {
      "get": {
        "tags": ["Roadmap"],
        "summary": "List Roadmap Items",
        "description": "Retrieve all public roadmap items, sorted by priority.",
        "security": [],
        "responses": {
          "200": {
            "description": "Array of roadmap items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/RoadmapItem" }
                }
              }
            }
          }
        }
      }
    },
    "/roadmap/stats": {
      "get": {
        "tags": ["Roadmap"],
        "summary": "Roadmap Statistics",
        "description": "Get summary counts of roadmap items by status.",
        "security": [],
        "responses": {
          "200": { "description": "Roadmap counts" }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": ["Documents"],
        "summary": "List Documents",
        "description": "Retrieve a list of all resumes/documents for the authenticated user.",
        "responses": {
          "200": {
            "description": "Array of documents",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Document" } }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["Documents"],
        "summary": "Create Document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Document" }
            }
          }
        },
        "responses": {
          "201": { "description": "Document created" }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "tags": ["Documents"],
        "summary": "Get Document",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document data" },
          "404": { "description": "Document not found" }
        }
      },
      "patch": {
        "tags": ["Documents"],
        "summary": "Update Document",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "type": "object" } }
          }
        },
        "responses": {
          "200": { "description": "Document updated" }
        }
      },
      "delete": {
        "tags": ["Documents"],
        "summary": "Delete Document",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "Document deleted" }
        }
      }
    },
    "/profiles/master": {
      "get": {
        "tags": ["Profiles"],
        "summary": "Get Master Profile",
        "description": "Retrieve the user's master profile containing common resume sections.",
        "responses": {
          "200": {
            "description": "Master profile object",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MasterProfile" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Profiles"],
        "summary": "Update Master Profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MasterProfile" }
            }
          }
        },
        "responses": {
          "200": { "description": "Master profile updated" }
        }
      }
    },
    "/shares": {
      "post": {
        "tags": ["Shares"],
        "summary": "Create Share Link",
        "description": "Create a new shareable link for a specific document.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "Share link created" } }
      }
    },
    "/shares/{token}": {
      "get": {
        "tags": ["Shares"],
        "summary": "Get Public Share",
        "security": [],
        "parameters": [
          { "name": "token", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Public document data" } }
      }
    },
    "/shares/{token}/verify": {
      "post": {
        "tags": ["Shares"],
        "summary": "Verify Public Share",
        "security": [],
        "parameters": [
          { "name": "token", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Token verified" } }
      }
    },
    "/shares/documents/{documentId}": {
      "get": {
        "tags": ["Shares"],
        "summary": "List Share Links for Document",
        "parameters": [
          { "name": "documentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Array of share links" } }
      }
    },
    "/shares/documents/{documentId}/links/{shareLinkId}": {
      "delete": {
        "tags": ["Shares"],
        "summary": "Revoke Share Link",
        "parameters": [
          { "name": "documentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "shareLinkId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "204": { "description": "Link revoked" } }
      }
    },
    "/api-keys": {
      "get": {
        "tags": ["API Keys"],
        "summary": "List API Keys",
        "responses": {
          "200": {
            "description": "Array of API Keys",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ApiKey" } }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["API Keys"],
        "summary": "Create API Key",
        "responses": { "201": { "description": "API Key created" } }
      }
    },
    "/api-keys/{id}": {
      "delete": {
        "tags": ["API Keys"],
        "summary": "Delete API Key",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "204": { "description": "API Key deleted" } }
      }
    },
    "/api-keys/{id}/rotate": {
      "post": {
        "tags": ["API Keys"],
        "summary": "Rotate API Key",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "API Key rotated" } }
      }
    },
    "/api-keys/{id}/revoke": {
      "post": {
        "tags": ["API Keys"],
        "summary": "Revoke API Key",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "API Key revoked" } }
      }
    },
    "/users/me": {
      "get": {
        "tags": ["Users"],
        "summary": "Current User",
        "responses": {
          "200": { "description": "Authenticated user info" }
        }
      }
    },
    "/users/me/name": {
      "put": {
        "tags": ["Users"],
        "summary": "Update User Name",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "name": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "User name updated" }
        }
      }
    },
    "/stats/events": {
      "post": {
        "tags": ["Stats"],
        "summary": "Record Usage Event",
        "security": [],
        "responses": {
          "202": { "description": "Event recorded" }
        }
      }
    },
    "/stats/admin/dashboard": {
      "get": {
        "tags": ["Stats"],
        "summary": "Admin Dashboard Stats",
        "responses": {
          "200": { "description": "Dashboard statistics" }
        }
      }
    }
  }
}
